.cards__list-item {
   position: relative;
  width: 323px;
  display: flex;
  justify-content: center;
  border-color: 1px #0000004d;
  background: transparent;
  overflow: hidden;
  object-fit: cover;
  object-position: right;
  border: 1px solid #0000004d;
  border-radius: 20px;

}
.card__list-content{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 15px;
}



.cards__img-name {
  margin: var(--margin-none);
  /* position: absolute; */
  top: var(--position-top);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  padding: var(--padding-tag);
  background: #ffffff;
  border-radius: var(--radius-small);
  color: var(--text-preview);
}
.cards__img {
  width: 100%;
  cursor: pointer;
}

.card__like-button {
  background-image: url("../../assets/images/union.svg");
  background-color: transparent;
  padding: 0;
  border: none;
  width: 20px;
  height: 18px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: pointer;
}
.card__like-button:hover {
  transition: 1.3s;
  opacity: 1;
}
.card__like-button_liked {
  background-image: url("../../assets/images/liked.svg");

  background-color: transparent;
  padding: 0;
  border: none;
  width: 20px;
  height: 18px;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  opacity: 1;
}

.card__like-button_liked:hover {
  opacity: 0.4;
}
