.cards__list-item {
  position: relative;
  width: var(--image-width);
  display: flex;
  justify-content: center;
  background: transparent;
  overflow: hidden;
  object-fit: cover;
  object-position: right;
  border: var(--card-border);
  border-radius: var(--radius-big);
  cursor: pointer;

}


.cards__img-name {
  margin: var(--margin-none);
  position: absolute;
  top: var(--position-top);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  padding: var(--padding-tag);
  background: #ffffff;
  border-radius: var(--radius-small);
  color: var(--text-preview);
}
.cards__img {
  width: 100%;
}
