
.page{
  text-align: center;
  width: var(--page-width);
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--bg);
 }

.page__content{
  width: var(--content-width);
  max-width: 100%;
  margin: 0 auto;
box-sizing: border-box;
}

/* p{
  color: red;
   @media (max-width: 1024px) {
    color: black;
  }
} */




