/* Block: The main container */
.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--header-padding);
  font-family: var(--font-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-header);
  letter-spacing: 0%;
}

.header__section {
  display: flex;
  align-items: center;
}
.header__section_right {
  margin-left: auto;
}

.header-logo__navlink{
 text-decoration: none;
  color: inherit; 
}
.header__navlink{
  display: flex;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* Element: Logo sizing */
.header__logo {
  width: var(--logo-width);
  margin-right: var(--logo-margin);
  display: block;
}
.header__logo:hover{
  opacity: 0.5;
}
/* Element: Date and Location text */
.header__info {
  margin: var(--margin-none);
  line-height: var(--line-height-medium);
}

.header__button {
  cursor: pointer;
  line-height: var(--line-height-medium);
  border: var(--border-none);
  font-family: var(--font-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  letter-spacing: 0%;
}
.header__button:hover{
  opacity: 0.5;
}
.header__user-name {
  margin: var(--user-margin);
}
.header__user-name_type-home:hover{
  opacity: 0.5;
}
.header__avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 769px) {
  .header {
    justify-content: space-between;
  }
  .header__section_right {
    margin-left: var(--margin-none);
    flex-direction: column-reverse;
  }

  .header__section {
    flex-direction: column;
  }
}
