.modal__caption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.modal__caption-name {
  text-align: left;
  margin: var(--margin-none);
  padding: var(--padding-none);
}
.modal__caption-weather {
  padding: var(--padding-none);
  margin: var(--margin-none);
}
